# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.history
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exclude node_modules directory in both FE and BE
FE/node_modules
BE/node_modules

# Exclude .history directory in both FE and BE
FE/.history
BE/.history

FE/dist
BE/dist